.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    box-shadow: none;
  }
  
  .logo {
    height: 55px;
    margin-top: -5px;
  }
  
  .logo img {
    height: 100%;
  }
  
  .loginButton {
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: #f50a15;
  }

  .logoutButton {
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .logoutButton:hover {
    background-color: #f50a15;
  }

  .ProfileButton {
    background-color: #808080;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 17px 5px 17px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .ProfileButton:hover {
    background-color: #808080;
  }

  .nav-link {
    display: block;
    padding: .5rem 1rem;
    color: rgba(0, 0, 0, .25);
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

#offcanvasNavbarDropdown{
  display: block;
  padding: .5rem 1rem;
  color: rgba(0, 0, 0, 0.74);
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}